.bg {
  background-image: url(star.jpg);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  object-position: bottom;
}

.container_hero {
  text-align: center;
}

.glitch {
  display: flex;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.countdown {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.time {
  text-align: center;
  overflow: hidden;
}

#days,
#hours,
#minutes,
#seconds {
  background-color: #0e131f;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.5em;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

.waviy {
  position: relative;
  display: inline-block;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

#about {
  width: 100%;
  height: auto;
  background-color: #0e131f;
}

#timeline {
  background-color: #0e131f;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #0e131f;
}

/* @media screen and (max-width: 1200px) {
 #contain1{
  width: 23em;
 } 
} */

#container1 {
  max-width: 1140px;
  margin: 0 auto;
  /* padding-left: 20px; */
  padding-right: 10px;
}

#venu {
  width: 100%;
  margin-top: 5rem;
  background-color: #0e131f;
  height: auto;
  padding: 1em;
}

#gallery {
  width: 100%;
  background-color: #0e131f;
  margin-top: 5em;
  padding: 1em;
  height: auto;
  overflow: hidden;
}

#domains {
  width: 100%;
  background-color: #0e131f;
  height: auto;
  overflow: hidden;
  margin-top: 3em;
}

#faq {
  width: 100%;
  height: auto;
  background-color: #0e131f;
}

#footer {
  width: 100%;
}

#testimonal {
  width: 100%;
  height: auto;
}

#default-tab {
  justify-content: center;
}

#tabs {
  background-color: #0e131f;
}

#text-center {
  display: relative;
  width: 90%;
}

.domain_text {
  padding-top: 1em;
}

#timeline_text {
  padding-top: 1em;
}

h2 {
  color: white;
}

h4 {
  color: white;
}

#gallery_images img {
  height: auto;
}

#tabs ul li a {
  font-size: 1.1rem;
}

#hero_div {
  overflow: hidden;
}

@keyframes lights {
  0% {
    color: hsl(30, 100%, 50%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(45, 100%, 70%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(60, 100%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(75, 100%, 70%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(30, 100%, 50%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

#light_effect {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  font-size: 2rem;
  font-weight: 600;
  animation: lights 5s 750ms linear infinite;
}

#slideshow-container {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.slide {
  display: none;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#slideshow-container h2 {
  font-size: 2rem;
}

#side_by_side {
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  text-align: center;
}

#icon1 {
  font-size: 1.3rem;
  padding-right: 5px;
}
#icon2 {
  font-size: 1.3rem;
  padding-right: 5px;
}
#icon3 {
  font-size: 1.3rem;
  padding-right: 5px;
}
#icon4 {
  font-size: 1.3rem;
}

#contact {
  width: 100%;
  background-color: #0e131f;
  height: auto;
  overflow: hidden;
}

.relative label {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

body {
  background-color: #0e131f;
}

.content {
  display: none;
}

.active {
  display: block;
}

.footer {
  background: #000;
  padding: 15px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;  
  padding: 0.2% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

#about{
  margin-top: 3em;
}


.custom-btn {
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 8px;
}

#myBtn1 {
  background-color: black;
 color: #808080;
 z-index: 1;
 margin: 0;
 padding: 5px;
 border-radius: 5px;
 cursor: pointer;
}

#myBtn1:hover{
  color: white;
}
#myBtn2:hover{
  color: white;
}
#myBtn3:hover{
  color: white;
}
#myBtn1:after {
 position: absolute;
 content: "";
 width: 100%;
 height: 0;
 top: 0;
 left: 0;
 z-index: -1;
 background: #e0e5ec;
 transition: all 0.3s ease;
}
#myBtn1:active {
 top: 2px;
}

#myBtn2 {
  background-color: black;
  color: #808080;
 z-index: 1;
 margin: 0;
 padding: 5px;
 border-radius: 5px;
 cursor: pointer;
}
#myBtn2:after {
 position: absolute;
 content: "";
 width: 100%;
 height: 0;
 top: 0;
 left: 0;
 z-index: -1;
 background: #e0e5ec;
 transition: all 0.3s ease;
}

#myBtn2:active {
 top: 2px;
}
#myBtn3 {
  background-color: black;
  color: #808080;
 z-index: 1;
 margin: 0;
 padding: 5px;
 border-radius: 5px;
 cursor: pointer;
}
#myBtn3:after {
 position: absolute;
 content: "";
 width: 100%;
 height: 0;
 top: 0;
 left: 0;
 z-index: -1;
 background: #e0e5ec;
 transition: all 0.3s ease;
}

#myBtn3:active {
 top: 2px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 900;
}

#overlay1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 900;
}

#contactPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #0e131f;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#socialPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #0e131f;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#closePopup {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: white;
}

#closePopup1 {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: white;
}

#arrow {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 25px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.footer{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#gallery_item_center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#testimonial .mt-4{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#more1{
  display: none;
}
#more2{
  display: none;
}
#more3{
  display: none;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  color: black;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: rgb(219, 14, 127);
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: green;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

#venue_div{
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px gray;
  border-radius: 20px;
}

#iframe_div{
  width: 50%;
  height: 78vh;
}

#iframe_div iframe{
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 20px;
  filter: invert(100%);
}

#venue_content{
  width: 50%;
  height: 78vh;
  text-align: center;
}

#venue_content img{
  width: 100%;
  height: 70%;
  padding: 6px;
  border-radius: 20px;
}

#venue_content h1{
  font-size: 1.3rem;
  font-weight: 900;
}

#venue_content h2{
  font-size: 1.7rem;
  font-weight: 900;
  color: #26767A;
}

@media screen and (max-width: 580px) and (min-height: 580px) {
  #venue_div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3px;
    width: 95%;
  }
  #iframe_div{
    height: 50%;
    width: 100%;
  }
  #venue_content{
    height: 50%;
    width: 100%;
  }
  #venue_content img{
    height: 45%;
  }
}

#aboutelectroverse{
  height: auto;
  margin-top: 1em;
}

#aboutDepartment{
  height: auto;
  margin-top: 1em;
}

#aboutCollege{
  height: auto;
  margin-top: 1em;
}

#about_section{
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
}

@media screen and (min-width: 750px) {
#gallery_photos div{
  height: 90vh;
}

#gallery_photos div img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
}

#members_main{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

#members_main div{
  height: 14em;
  width: 16em;
  margin: 1em;
}

#members_main div img{
  height: 90%;
  width: 100%;
  border-radius: 10px;
}
#members_main div h1{
  height: 90%;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: 900;
  padding-top: 4px;
}

#logos{
  width: 60%;
  height: 12vh;
  display: flex;
  /* background-color: red; */
  margin-top: 2em;
  justify-content: center;
  align-items: center;
}

#logos div{
  padding: 3px;
}

#logos #logo1{
  height: 100%;
  width: 8em;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logos #logo1 img{
  height: 100%;
  width: 100%;
}

#banner_section{
  width: 100%;
  height: 10vh;
  background-color: #0e131f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-width: 1px;
  border-left: none;
  border-right: none;
}

#First_logo{
  width: 20%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px;
}

#First_logo img{
  width: auto;
  height: 100%; 
}

#Last_logo{
  width: 20%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    padding: 6px;
}

#Last_logo img{
  width: auto;
  height: 100%; 
}

#Middle_Logo{
  width: 60%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Middle_Logo h2{
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 1150px) {
  /* #First_logo{
    width: 20%;
  }
  #Middle_Logo{
    width: 40%;
  } */
}